<component name="ArtifactManager">
  <artifact type="war" name="MyBatis-12-More-Table:war">
    <output-path>$PROJECT_DIR$/02-MyBatis-12-More-Table/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>MyBatis-12-More-Table</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="MyBatis-12-More-Table-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="MyBatis-12-More-Table:war exploded" />
    </root>
  </artifact>
</component>