<component name="ArtifactManager">
  <artifact type="exploded-war" name="MyBatis-11-ORM:war exploded">
    <output-path>$PROJECT_DIR$/02-MyBatis-11-ORM/target/MyBatis-11-ORM-1.0-SNAPSHOT</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>MyBatis-11-ORM</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="MyBatis-11-ORM" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.projectlombok:lombok:1.18.22" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/02-MyBatis-11-ORM/target/MyBatis-11-ORM-1.0-SNAPSHOT/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="MyBatis-11-ORM/web/Web" />
    </root>
  </artifact>
</component>