<component name="ArtifactManager">
  <artifact type="war" name="Spring-00-ThreeLayerApplication:war">
    <output-path>$PROJECT_DIR$/03-Spring-00-ThreeLayerApplication/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>Spring-00-ThreeLayerApplication</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="03-Spring-00-ThreeLayerApplication-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="Spring-00-ThreeLayerApplication:war exploded" />
    </root>
  </artifact>
</component>